<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Wombat Voting</title>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Montserrat'>

<link rel= "stylesheet" type= "text/css" href= "static/styles/audit.css">
</head>

<body>
<div class="audit-form">
<h1>Success<span>Your vote for {{ vote }} has been submitted and your vote verification hash is {{encrypted}}!</span></h1>

<form method='post'>
    <div class="section"> Would you like to audit your vote?</div>
    <div class="button">
        <input type="submit" value="Yes" formaction='http://localhost:5000/audit'/>
        <input type="submit" value="No" formaction='http://localhost:5000/success'/>
    </div>

</form>
</div>

</body>
</html>