<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Wombat Voting</title>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Montserrat'>

<link rel= "stylesheet" type= "text/css" href= "static/styles/audit.css">
</head>

<body>
<div class="audit-form">
<h1>Uh oh!<span>We have found a discrepancy with your vote. This voting machine is now out of order. Please proceed to cast your a different voting machine.</span></h1>

<form>
    <div class="button">
        <img class='displayed' src="static/images/out_of_service.jpg">
    </div>

</form>
</div>

</body>
</html>