<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Wombat Voting</title>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Montserrat'>

<link rel= "stylesheet" type= "text/css" href= "static/styles/audit.css">
</head>

<body>
<div class="audit-form">
<h1>Audit Complete!<span>Your vote was correctly encrypted!</span></h1>

<form method="post" action='http://localhost:5000/'>
    <div class="section"> Please proceed back to the home page to recast your vote.</div>
    <div class="button">
        <input type="submit" value="Home" />
    </div>

</form>
</div>

</body>
</html>