<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Wombat Voting</title>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Montserrat'>

<link rel= "stylesheet" type= "text/css" href= "static/styles/audit.css">
</head>

<body>
<div class="audit-form">
<h1>Success!<span>Your have successfully cast your vote!</span></h1>

<form method="post" action='http://localhost:5000/'>
    <div class="button">
    	<img class='displayed' src="static/images/voted.jpg">
    	<input type="submit" value="Home" />
    </div>

</form>
</div>

</body>
</html>