<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Wombat Voting</title>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Montserrat'>

<link rel= "stylesheet" type= "text/css" href= "static/styles/main.css">
</head>

<body>

<div class="ballot-form">
<h1>Wombat Voting<span>Please use the following form to securely cast your vote!</span></h1>
<form action='http://localhost:5000/submitted' method='post'>
    <div class="section">Who would you like to vote for?</div>
    <div class="inner">
        <label>Candidate Choice<input type="text" name="vote" /></label>
    </div>
    <div class="button">
     <input type="submit" name="Submit" />
     <span class="acknowlegement">
     <input type="checkbox" name="field7"> I acknowledge that my vote is correct. 
     </span>
    </div>
</form>
</div>

</body>
</html>